.cabecalho
{ 
   background-color: black;
}
h1 { text-align: center;

}
h2 { 
    background-color:rgb(233, 59, 59);
}
.imagem{ 
    width: 20px;
    background-image: linear-gradient(purple)
}

P { 
    font-size: 18px;
}
.paragrafo1 {
    font-size: 20px;
      } 
     
      .lista { 
        display: inline-block;
        margin: 0 16px;
     }
}
.divisao{
    background-color: aqua;
    background-color: rgb(245, 42, 42) ;