. cabecalho
{
    cor de fundo :  rgb ( 218 ,  46 ,  46 )
}
h1 {
    alinhamento de texto : centro;
}
h2 {
    cor de fundo :  rgba ( 255 ,  255 ,  255 ,  0,918 );
}
h3 {
    padding-esquerda :  10 % ;
}
. imagem {
    largura :  10 px ;
    background-image :  linear-gradient ( # ff4848 );
}
p {
    tamanho da fonte :  20 px
}
. parágrafo1 {
 tamanho da fonte : 30 px ;
 padding-top :  5 % ;
}
. parágrafos {
    tamanho da fonte :  16 px ;
}
. { _
    exibição : bloco em linha;
    margem :  0  16 px
}
rodapé {
    cor de fundo : preto;
}